<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
  window.addEventListener("load", function(){
      window.cookieconsent.initialise({
          "palette": {
              "popup": {
                  "background": "#4786ff",
                  "text": "#ffffff"
              },
              "button": {
                  "background": "transparent",
                  "text": "#fff",
                  "border": "#fff"
              }
          },
          "content": {
              "href": "https://join.utopian.io/cookies"
          }
      })});
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115955870-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115955870-1');
</script>